Repository challenge-first/server, pull requests merged in 2023-08, with the labels that each got.

#18 feat: #8 jwt 적용
  .gitignore
  build.gradle
  src/main/java/challenge/competer/domain/auction/entity/Auction.java
  src/main/java/challenge/competer/domain/member/exception/UserNotFoundException.java
  src/main/java/challenge/competer/domain/member/repository/MemberRepository.java
  src/main/java/challenge/competer/global/auth/LoginMember.java
  src/main/java/challenge/competer/global/auth/LoginMemberArgumentResolver.java
  src/main/java/challenge/competer/global/auth/MemberDetails.java
  src/main/java/challenge/competer/global/config/WebConfig.java
  src/main/java/challenge/competer/global/jwt/JwtProvider.java
  src/main/java/challenge/competer/global/jwt/exception/TokenValidException.java
  src/main/java/challenge/competer/global/jwt/filter/JwtAuthorizationFilter.java
  src/main/java/challenge/competer/global/jwt/filter/JwtExceptionFilter.java
Labels: feat

#20 Feature/ #14 create product function
  src/main/java/challenge/competer/domain/like/controller/LikeController.java
  src/main/java/challenge/competer/domain/like/repository/LikeRepository.java
  src/main/java/challenge/competer/domain/like/service/LikeService.java
  src/main/java/challenge/competer/domain/like/service/LikeServiceImpl.java
  src/main/java/challenge/competer/domain/product/controller/ProductController.java
  src/main/java/challenge/competer/domain/product/dto/ResponseDetailProductDto.java
  src/main/java/challenge/competer/domain/product/dto/ResponseProductDto.java
  src/main/java/challenge/competer/domain/product/entity/Product.java
  src/main/java/challenge/competer/domain/product/repository/ImageRepository.java
  src/main/java/challenge/competer/domain/product/repository/ProductRepository.java
  src/main/java/challenge/competer/domain/product/service/ProductService.java
  src/main/java/challenge/competer/domain/product/service/ProductServiceImpl.java
  src/test/java/challenge/competer/domain/like/controller/LikeControllerTest.java
  src/test/java/challenge/competer/domain/like/repository/LikeRepositoryTest.java
  src/test/java/challenge/competer/domain/like/service/LikeServiceTest.java
  src/test/java/challenge/competer/domain/product/controller/ProductControllerTest.java
  src/test/java/challenge/competer/domain/product/repository/ProductRepositoryTest.java
  src/test/java/challenge/competer/domain/product/service/ProductServiceTest.java
Labels: feat, refactor, test

#21 feat: #16 create transaction function
  src/main/java/challenge/competer/domain/member/entity/Member.java
  src/main/java/challenge/competer/domain/product/entity/Product.java
  src/main/java/challenge/competer/domain/product/repository/ProductRepository.java
  src/main/java/challenge/competer/domain/transaction/controller/TransactionController.java
  src/main/java/challenge/competer/domain/transaction/dto/RequestTransactionDto.java
  src/main/java/challenge/competer/domain/transaction/dto/ResponseTransactionDto.java
  src/main/java/challenge/competer/domain/transaction/entity/Transaction.java
  src/main/java/challenge/competer/domain/transaction/repository/TransactionRepository.java
  src/main/java/challenge/competer/domain/transaction/service/TransactionService.java
  src/main/java/challenge/competer/domain/transaction/service/TransactionServiceImpl.java
  src/test/java/challenge/competer/domain/transaction/controller/TransactionControllerTest.java
  src/test/java/challenge/competer/domain/transaction/service/TransactionServiceTest.java
  src/test/resources/application.yml
Labels: feat, test

#22 feat: #15 로그 및 로그 파일 관리 생성
  .gitignore
  build.gradle
  src/main/java/challenge/competer/CompeterApplication.java
  src/main/java/challenge/competer/domain/eventInfo/entity/EventInfo.java
  src/main/java/challenge/competer/domain/member/dto/RequestMemberLoginDto.java
  src/main/java/challenge/competer/domain/member/dto/RequestMemberPointDto.java
  src/main/java/challenge/competer/global/config/LogConfig.java
  src/main/java/challenge/competer/global/jwt/filter/JwtAuthorizationFilter.java
  src/main/java/challenge/competer/global/log/LogAspect.java
  src/main/java/challenge/competer/global/log/LogTrace.java
  src/main/java/challenge/competer/global/log/LogTraceImpl.java
  src/main/java/challenge/competer/global/log/TraceId.java
  src/main/java/challenge/competer/global/log/TraceStatus.java
  src/main/resources/log4j2.xml
  src/test/java/challenge/competer/global/log/LogAspectTest.java
  src/test/java/challenge/competer/global/log/LogTraceImplTest.java
Labels: feat, refactor, test

#23 feat: #17 유저 api test
  src/main/java/challenge/competer/domain/member/controller/MemberController.java
  src/main/java/challenge/competer/domain/member/dto/RequestMemberLoginDto.java
  src/main/java/challenge/competer/domain/member/dto/RequestMemberPointDto.java
  src/main/java/challenge/competer/global/jwt/exception/TokenValidException.java
  src/test/java/challenge/competer/domain/member/controller/MemberControllerTest.java
  src/test/java/challenge/competer/domain/member/service/MemberServiceTest.java
  src/test/java/challenge/competer/domain/transaction/service/TransactionServiceTest.java
  src/test/java/challenge/competer/global/jwt/JwtProviderTest.java
Labels: test, style

#27 feat: auction
  src/main/java/challenge/competer/domain/auction/controller/AuctionController.java
  src/main/java/challenge/competer/domain/auction/dto/RequestAuctionDto.java
  src/main/java/challenge/competer/domain/auction/dto/ResponseAuctionDto.java
  src/main/java/challenge/competer/domain/auction/dto/ResponseWinningPriceDto.java
  src/main/java/challenge/competer/domain/auction/entity/Auction.java
  src/main/java/challenge/competer/domain/auction/repository/AuctionRepository.java
  src/main/java/challenge/competer/domain/auction/service/AuctionService.java
  src/main/java/challenge/competer/domain/auction/service/AuctionServiceImpl.java
  src/test/java/challenge/competer/domain/auction/controller/AuctionControllerTest.java
  src/test/java/challenge/competer/domain/auction/repository/AuctionRepositoryTest.java
  src/test/java/challenge/competer/domain/auction/service/AuctionServiceTest.java
  src/test/java/challenge/competer/domain/transaction/controller/TransactionControllerTest.java
  src/test/java/challenge/competer/domain/transaction/service/TransactionServiceTest.java
Labels: feat, fix, test

#28 Feature/create event
  src/main/java/challenge/competer/domain/event/controller/EventController.java
  src/main/java/challenge/competer/domain/event/dto/ResponseEventDto.java
  src/main/java/challenge/competer/domain/event/repository/EventRepository.java
  src/main/java/challenge/competer/domain/event/service/EventService.java
  src/main/java/challenge/competer/domain/event/service/EventServiceImpl.java
  src/test/java/challenge/competer/domain/event/controller/EventControllerTest.java
  src/test/java/challenge/competer/domain/event/repository/EventRepositoryTest.java
  src/test/java/challenge/competer/domain/event/service/EventServiceTest.java
Labels: feat, test

#29 fix: JwtTest 및 Member 관련 Dto 수정
  src/main/java/challenge/competer/domain/member/dto/RequestMemberLoginDto.java
  src/main/java/challenge/competer/domain/member/dto/RequestMemberPointDto.java
  src/test/java/challenge/competer/domain/member/service/MemberServiceTest.java
  src/test/java/challenge/competer/global/jwt/JwtProviderTest.java
Labels: fix

#33 feat: #32 테스트 관련 로그 오류 수정
  src/main/java/challenge/competer/global/log/LogAspect.java
Labels: fix

#31 fix: #30 transaction service test
  src/test/java/challenge/competer/domain/transaction/service/TransactionServiceTest.java
Labels: fix, test

#36 feat: cors 설정
  src/main/java/challenge/competer/global/config/WebConfig.java
  src/main/java/challenge/competer/global/jwt/filter/JwtAuthorizationFilter.java
Labels: feat

#37 fix: getAuction의 auctionId 필드 추가
  src/main/java/challenge/competer/domain/auction/dto/ResponseAuctionDto.java
  src/main/java/challenge/competer/domain/auction/service/AuctionServiceImpl.java
Labels: fix

#42 feat: 낙찰 및 결제 시 포인트 차감 메서드 추가
  src/main/java/challenge/competer/domain/member/entity/Member.java
  src/main/java/challenge/competer/domain/member/service/MemberServiceImpl.java
  src/main/java/challenge/competer/domain/transaction/service/TransactionServiceImpl.java
  src/test/java/challenge/competer/domain/member/entity/MemberTest.java
Labels: feat, test

#43 feat: Event coupon 기능 추가
  src/main/java/challenge/competer/domain/event/controller/EventController.java
  src/main/java/challenge/competer/domain/event/entity/Coupon.java
  src/main/java/challenge/competer/domain/event/entity/Event.java
  src/main/java/challenge/competer/domain/event/repository/CouponRepository.java
  src/main/java/challenge/competer/domain/event/service/EventService.java
  src/main/java/challenge/competer/domain/event/service/EventServiceImpl.java
  src/test/java/challenge/competer/domain/event/repository/CouponRepositoryTest.java
  src/test/java/challenge/competer/domain/event/service/EventServiceTest.java
Labels: feat, test

#44 Feature/create product search
  src/main/java/challenge/competer/domain/product/controller/ProductController.java
  src/main/java/challenge/competer/domain/product/productenum/ProductType.java
  src/main/java/challenge/competer/domain/product/repository/ProductRepository.java
  src/main/java/challenge/competer/domain/product/service/ProductService.java
  src/main/java/challenge/competer/domain/product/service/ProductServiceImpl.java
  src/test/java/challenge/competer/domain/product/controller/ProductControllerTest.java
  src/test/java/challenge/competer/domain/product/service/ProductServiceTest.java
Labels: feat, refactor, test

#50 test: AuctionRepository 테스트 코드 수정
  src/main/java/challenge/competer/domain/auction/service/AuctionServiceImpl.java
  src/main/java/challenge/competer/domain/product/entity/Product.java
  src/test/java/challenge/competer/domain/auction/repository/AuctionRepositoryTest.java
  src/test/java/challenge/competer/domain/auction/service/AuctionServiceTest.java
  src/test/java/challenge/competer/domain/like/repository/LikeRepositoryTest.java
  src/test/java/challenge/competer/domain/product/repository/ProductRepositoryTest.java
Labels: test

#47 Feature/event-status-close
  build.gradle
  src/main/java/challenge/competer/domain/event/entity/Event.java
  src/main/java/challenge/competer/domain/event/repository/EventRepository.java
  src/main/java/challenge/competer/domain/event/service/EventScheduler.java
  src/main/java/challenge/competer/domain/event/service/EventServiceImpl.java
  src/main/resources/log4j2.xml
  src/test/java/challenge/competer/domain/event/repository/EventRepositoryTest.java
  src/test/java/challenge/competer/domain/event/service/EventSchedulerTest.java
  src/test/java/challenge/competer/domain/event/service/EventServiceTest.java
  src/test/resources/application.yml
Labels: feat, test
